<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mosl.superfina.com">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <permission
        android:name="mosl.superfina.com.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="mosl.superfina.com.permission.MIPUSH_RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
   <application
        android:label="Supperapp"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="TEST-7Z5-4R8-776Z"/>
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="TEST-b24-51a"/>
        <!-- IMPORTANT: To force use Google AD ID to uniquely identify  users, use the following meta tag. GDPR mandates that if you are using this tag, there is prominent disclousure to your end customer in their application. Read more about GDPR here - https://clevertap.com/blog/in-preparation-of-gdpr-compliance/ -->
        <meta-data
            android:name="CLEVERTAP_USE_GOOGLE_AD_ID"
            android:value="1"/>
        <meta-data
            android:name="CLEVERTAP_REGION"
            android:value="in1"/>
        <service android:name="com.clevertap.android.sdk.pushnotification.fcm.FcmMessageListenerService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>  
        
        <!-- Xiaomi account -->
        <meta-data
            android:name="CLEVERTAP_XIAOMI_APP_KEY"
            android:value="5772185870773" />

        <meta-data
            android:name="CLEVERTAP_XIAOMI_APP_ID"
            android:value="2882303761521858773" />

        <service
            android:enabled="true"
            android:process=":pushservice"
            android:name="com.xiaomi.push.service.XMPushService"/>
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />
        <!--Note：This service must be added to the version 3.0.1 or later（including version 3.0.1）-->
        <service
            android:enabled="true"
            android:exported="true"
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler" />
        <service android:enabled="true"
            android:name="com.xiaomi.mipush.sdk.MessageHandleService" />
        <!--Note：this service must be added to version 2.2.5 or later （includes version 2.2.5）-->
        <receiver
            android:exported="true"
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver" >
        <intent-filter>
            <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </receiver>
        <receiver
            android:exported="false"
            android:process=":pushservice"
            android:name="com.xiaomi.push.service.receivers.PingReceiver" >
        <intent-filter>
        <action android:name="com.xiaomi.push.PING_TIMER" />
        </intent-filter>
        </receiver>
    
    </application>

    

    <queries>
        <!-- List of apps which you want to support for Intent pay -->
        <package android:name="com.google.android.apps.nbu.paisa.user" />
        <package android:name="com.phonepe.app"/>
        <package android:name="net.one97.paytm"/>
        <package android:name="com.paytmmall"/>
        <package android:name="in.org.npci.upiapp"/>
        <package android:name="in.amazon.mShop.android.shopping"/>
        <package android:name="com.csam.icici.bank.imobile"/>
        <package android:name="com.sbi.upi"/>
        <package android:name="com.myairtelapp"/>
        <package android:name="com.icicibank.pockets"/>
        <package android:name="com.snapwork.hdfc"/>
        <package android:name="com.snapwork.hdfc"/>
        <package android:name="com.enstage.wibmo.hdfc"/>
        <package android:name="com.mobikwik_new"/>
        <package android:name="com.upi.axispay"/>
        <package android:name="com.axis.mobile"/>
        <package android:name="com.freecharge.android"/>
        <package android:name="com.samsung.android.spaymini"/>
        <package android:name="com.samsung.android.spay"/>
        <package android:name="com.dreamplug.androidapp"/>
        <package android:name="com.bankofbaroda.upi"/>
        <package android:name="com.whatsapp.w4b"/>
        <package android:name="com.fss.pnbpsp"/>
        <package android:name="com.fss.unbipsp"/>
        <package android:name="com.mycompany.kvb"/>
        <package android:name="com.fss.vijayapsp"/>
        <package android:name="com.dena.upi.gui"/>
        <package android:name="com.fss.jnkpsp"/>
        <package android:name="com.olive.kotak.upi"/>
        <package android:name="com.bsb.hike"/>
        <package android:name="com.fss.idfcpsp"/>
        <package android:name="com.YesBank"/>
        <package android:name="com.abipbl.upi"/>
        <package android:name="com.microsoft.mobile.polymer"/>
        <package android:name="com.finopaytech.bpayfino"/>
        <package android:name="com.mgs.obcbank"/>
        <package android:name="com.upi.federalbank.org.lotza"/>
        <package android:name="com.mgs.induspsp"/>
        <package android:name="ai.wizely.android"/>
        <package android:name="com.olive.dcb.upi"/>
        <package android:name="com.mgs.yesmerchantnative.prod"/>
        <package android:name="com.dbs.in.digitalbank"/>
        <package android:name="com.rblbank.mobank"/>
        <package android:name="in.chillr"/>
        <package android:name="com.citrus.citruspay"/>
        <package android:name="com.SIBMobile"/>
        <package android:name="com.mipay.wallet.in"/>
        <package android:name="com.whatsapp"/>
        <package android:name="com.truecaller"/>
        <package android:name="com.olacabs.customer"/>
        <package android:name="com.gbwhatsapp"/>
        <package android:name="com.msf.angelmobile"/>
        <package android:name="com.fundsindia"/>
        <package android:name="com.muthootfinance.imuthoot"/>
        <package android:name="com.angelbroking.angelwealth"/>
        <package android:name="org.altruist.BajajExperia"/>
        <package android:name="in.bajajfinservmarkets.app"/>
        <intent>
        <action android:name="android.intent.action.SEND" />
        </intent>
        </queries>

</manifest>
